@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&family=Roboto+Mono&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #000;
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
  background-attachment: scroll;
  color: #fff;
}

button.normal {
  color: var(--text-default, #fff);
  text-align: center;
  font-size: 13.616px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.362px;
  text-transform: uppercase;
  border-radius: 3.299px;
  background: #f00;
  padding: 9.9px 13.2px;
}

/* header */
#header {
  background: linear-gradient(180deg, #090909 0%, rgba(9, 9, 9, 0) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 20px 40px;
  height: 80px;
  z-index: 999;
  /* position: sticky; */
  top: 0;
  left: 0;
}

#header img {
  width: 208.75px;
  height: 22.923px;
  flex-shrink: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  margin-top: 14px;
  position: relative;
  align-items: flex-end;
}

#navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 9px;
  /* color: #1a1a1a; */
  transition: 0.3s ease;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 15% right 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
#hero img {
  width: 38.137px;
  height: 38.137px;
  margin-top: 15px;
}

#hero p {
  color: var(--text-default, #fff);
  font-size: 7.89px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.395px;
  text-transform: uppercase;
}

#hero .icons {
  background: linear-gradient(
    180deg,
    rgba(9, 9, 9, 0) 0%,
    rgba(9, 9, 9, 0.3) 100%
  );

  width: 100%;
  padding: 0 50px 0 50px;
  justify-content: center;
  align-items: center;
}

#hero .image1 {
  padding-top: 25px;
}

#hero .image1 h3 {
  color: var(--text-default, #fff);
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 180px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

#hero .image2 {
  width: 70%;
  padding-top: 35px;
  margin-right: 0;
}

#hero .image2 p {
  color: var(--text-default, #fff);
  width: 120px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

#hero .icons {
  width: 100%;
  position: relative;
  top: 30%;
}

#hero .icons .image3 img {
  width: 70px;
  height: 61px;
  object-fit: contain;
}

#hero .icons .image4 img {
  width: 99px;
  height: 61px;
  object-fit: contain;
}

#hero .icons .image5 img {
  width: 70px;
  height: 61px;
  object-fit: contain;
}

#hero .icons .image6 img {
  width: 77px;
  height: 61px;
  object-fit: contain;
}

#hero .icons .image7 img {
  width: 50.492px;
  height: 60px;
  object-fit: contain;
}

#hero .icons .image8 img {
  width: 76px;
  height: 61px;
  object-fit: contain;
}

#hero .icons .image9 img {
  width: 43.103px;
  height: 50px;
  object-fit: contain;
}

#hero .icons .image10 img {
  width: 152.653px;
  height: 45px;
  object-fit: contain;
}

/* intro section */
#intro {
  padding: 60px 0;
}

#intro .intro-text {
  justify-content: center;
  text-align: center;
  transition: all 0.9s ease-out 0s;
}

#intro .intro-text:hover {
  scroll-snap-type: Y mandatory;
}

#intro .intro-text h3 {
  color: var(--text-default, #fff);
  text-align: center;
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 3.4px;
}

#intro .intro-text a {
  text-decoration: none;
}

#intro .intro-text p {
  padding: 20px 0 0 0;
  color: var(--text-default, #fff);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  position: relative;
}

#intro .intro-text p::after {
  content: "";
  width: 17%;
  height: 0.8px;
  background: #fff;
  position: absolute;
  top: 120%;
  left: 41.5%;
}

/* Home gallery */
#Home-gallery {
  padding: 0;
  margin: 0;
}

#Home-gallery .title {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 15px;
}

#Home-gallery .title h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

#Home-gallery .gallery .banner1 {
  position: relative;
  transition: all 0.5s ease-out 0s;
}
#Home-gallery .gallery .banner1 img {
  width: 100%;
  height: 690px;
  border-radius: 5.9px;
  opacity: 0.9;
  object-fit: cover;
}

#Home-gallery .gallery .banner1 .banner-circle {
  display: flex;
  width: 73.75px;
  height: 73.75px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 368.75px;
  border: 0.738px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(11.0625px);
  position: absolute;
  top: 50%;
  right: 45%;
}

#Home-gallery .gallery .banner1 .banner-circle p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 50px 0;
}

#Home-gallery .gallery .banner1 .banner-circle a {
  text-decoration: none;
  color: #fff;
}

#Home-gallery .gallery .banner1 .banner-text {
  position: absolute;
  top: 88%;
  right: 0;
  left: 3%;
}

#Home-gallery .gallery .banner1 .banner-text h4 {
  font-size: 23.6px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.18px;
  text-transform: uppercase;
  margin: 0;
}

#Home-gallery .gallery .banner1 .banner-text p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-size: 9.588px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.959px;
  text-transform: uppercase;
}

#Home-gallery .gallery .banner2,
#Home-gallery .gallery .banner3,
#Home-gallery .gallery .banner4,
#Home-gallery .gallery .banner5 {
  position: relative;
  transition: all 0.5s ease-out 0s;
}

#Home-gallery .gallery .banner2 img,
#Home-gallery .gallery .banner3 img {
  width: 100%;
  height: 300px;
  margin: 20px 20px 20px 0;
  border-radius: 5.9px;
  object-fit: cover;
}

#Home-gallery .gallery .banner4 img,
#Home-gallery .gallery .banner5 img {
  width: 100%;
  height: 300px;

  border-radius: 5.9px;
  object-fit: cover;
}

#Home-gallery .gallery .col-6 a {
  text-decoration: none;
  color: #fff;
}

#Home-gallery .gallery .banner2-text,
#Home-gallery .gallery .banner3-text,
#Home-gallery .gallery .banner4-text,
#Home-gallery .gallery .banner5-text {
  position: absolute;
  top: 80%;
  left: 5%;
}

#Home-gallery .gallery .banner2 h4,
#Home-gallery .gallery .banner3 h4,
#Home-gallery .gallery .banner4 h4,
#Home-gallery .gallery .banner5 h4 {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.738px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#Home-gallery .gallery .banner2 p,
#Home-gallery .gallery .banner3 p,
#Home-gallery .gallery .banner4 p,
#Home-gallery .gallery .banner5 p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-size: 9.588px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.959px;
  text-transform: uppercase;
}

#Home-gallery .gallery-link {
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Home-gallery .gallery-link a {
  text-decoration: none;
}

#Home-gallery .gallery-link p {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  position: relative;
}

#Home-gallery .gallery-link p::after {
  content: "";
  width: 14.5%;
  height: 0.5px;
  background: #fff;
  position: absolute;
  top: 120%;
  left: 42.7%;
}

/* testimonials */
#testimonials {
  padding: 100px 0;
}

#testimonials .header {
  padding: 40px 0;
}

#testimonials .header h4 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

#testimonials .card {
  background: #000;
  border: 0.787px solid var(--border-default, rgba(255, 255, 255, 0.12));
  align-items: flex-start;
  margin: 0 10px;
  width: calc(100% / 3);
}

#testimonials .cards-wrapper {
  display: flex;
}

#testimonials .carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
  background-color: #000;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

#testimonials .card-image img {
  padding: 30px 0 12px 20px;
}

#testimonials .card-body {
  padding-left: 20px;
}
#testimonials .card-body .card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18.9px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.787px;
  text-transform: uppercase;
}

#testimonials .card-body .card-description {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%;
}

#testimonials .card-footer {
  padding-top: 0;
  padding-left: 20px;
}

#testimonials .card-footer h5 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 14.175px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.709px;
  text-transform: uppercase;
  margin: 0;
}

#testimonials .card-footer p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 10.237px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.024px;
  text-transform: uppercase;
}

/* contact */
#contact {
  padding: 100px 0;
}

#contact .contact-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.9s ease-out 0s;
}

#contact .contact-text h6 {
  color: var(--text-default, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

#contact .contact-text h1 {
  color: var(--text-default, #fff);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 3.542px;
  text-transform: uppercase;
  padding: 80px 0 30px 0;
}

#contact .contact-text a {
  text-decoration: none;
  color: #000;
}

#contact .contact-text button {
  border-radius: 3.15px;
  background: #fff;
  width: 156px;
  height: 43px;
  padding: 9.45px 12.6px;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

/* footer */
footer {
  padding: 80px 0;
}

footer .logo-text p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 10.237px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.024px;
  text-transform: uppercase;
}

footer h5 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 14.175px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.709px;
  text-transform: uppercase;
}
footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul li {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 10.237px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 1.024px;
  text-transform: uppercase;
  margin: 15px 0;
}

footer .footer-icons {
  padding: 30px 0;
}
footer .footer-icons a {
  text-decoration: none;
  color: #fff;
}

footer .footer-icons i {
  padding: 0 15px;
  font-size: 12px;
}

footer .copyright {
  padding-top: 60px;
  margin-bottom: -40px;
  display: flex;
  justify-content: space-between;
}

footer .right {
  display: flex;
  gap: 10px;
}

footer .copyright p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Ubuntu", sans-serif;
  font-size: 10.237px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.024px;
  text-transform: uppercase;
}

/* ABOUT US PAGE  */
#hero.heading {
  background: #000;
}

#heading {
  padding: 60px 0;
}

#heading .heading-text {
  padding-top: 30px;
}

#heading .heading-text h2 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 52.833px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 3.142px;
  text-transform: uppercase;
}
#heading .heading-img1 {
  display: flex;
  gap: 30px;
}

#heading .heading-img1 img {
  fill: var(--icon-default, #fff);
  object-fit: contain;
}

#services {
  padding: 80px 0;
}

#services .services-head {
  padding: 40px 0;
}

#services .services-head h4 {
  color: #b3b3b3;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  letter-spacing: 1.2px;
}

#services .services-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 68.805px */
  letter-spacing: 3.128px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #e4e4e4;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  margin: 0;
}

#services .services-title span {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 68.805px */
  letter-spacing: 3.128px;
  text-transform: uppercase;
  width: 587.97px;
}

#services .services-subtitle {
  padding-top: 20px;
}
#services .services-subtitle p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%; /* 38.676px */
}

#services .services-text h3 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 50.961px */
  letter-spacing: 1.82px;
  text-transform: uppercase;
}

#services .services-text p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 38.676px */
  width: 667.672px;
}

#services .services-footer {
  background-image: linear-gradient(
      180deg,
      rgba(9, 9, 9, 0) 0%,
      rgba(9, 9, 9, 0.3) 100%
    ),
    url(../img/gallery1.png);
  width: 100%;
  height: 390px;
  border-radius: 5.9px;
  opacity: 0.9;
  position: relative;
  background-position: top 20% left 15%;
  object-fit: contain;
}

#services .services-footer-text {
  position: absolute;
  top: 80%;
  left: 5%;
}

#services .services-footer-text h4 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 22.24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 31.136px */
  letter-spacing: 1.112px;
  text-transform: uppercase;
}

#services .services-footer-text p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 9.035px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 9.035px */
  letter-spacing: 0.903px;
  text-transform: uppercase;
}

#services #row1,
#row2,
#row3,
#row4,
#row5,
#row6 {
  padding: 60px 0;
}

/* PROJECT PAGE */
#hero.project {
  background: #000;
  height: 40vh;
}

.project .project-text h2 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2.4px;
  text-align: center;
  text-transform: uppercase;
}

#pro-gallery .pro-gallery1,
#pro-gallery .pro-gallery2,
#pro-gallery .pro-gallery3,
#pro-gallery .pro-gallery4,
#pro-gallery .pro-gallery5,
#pro-gallery .pro-gallery6,
#pro-gallery .pro-gallery7,
#pro-gallery .pro-gallery8,
#pro-gallery .pro-gallery9,
#pro-gallery .pro-gallery10,
#pro-gallery .pro-gallery11,
#pro-gallery .pro-gallery12 {
  transition: all 0.5s ease-out 0s;
  position: relative;
}

#pro-gallery .pro-gallery1 img,
#pro-gallery .pro-gallery2 img,
#pro-gallery .pro-gallery3 img,
#pro-gallery .pro-gallery4 img,
#pro-gallery .pro-gallery5 img,
#pro-gallery .pro-gallery6 img,
#pro-gallery .pro-gallery7 img,
#pro-gallery .pro-gallery8 img,
#pro-gallery .pro-gallery9 img,
#pro-gallery .pro-gallery10 img,
#pro-gallery .pro-gallery11 img,
#pro-gallery .pro-gallery12 img {
  width: 100%;
  height: 300px;
  margin: 10px 0;
  object-fit: cover;
  opacity: 0.6;
}

#pro-gallery .pro-gallery1 .pro-gallery-text,
#pro-gallery .pro-gallery2 .pro-gallery-text,
#pro-gallery .pro-gallery3 .pro-gallery-text,
#pro-gallery .pro-gallery4 .pro-gallery-text,
#pro-gallery .pro-gallery5 .pro-gallery-text,
#pro-gallery .pro-gallery6 .pro-gallery-text,
#pro-gallery .pro-gallery7 .pro-gallery-text,
#pro-gallery .pro-gallery8 .pro-gallery-text,
#pro-gallery .pro-gallery9 .pro-gallery-text,
#pro-gallery .pro-gallery10 .pro-gallery-text,
#pro-gallery .pro-gallery11 .pro-gallery-text,
#pro-gallery .pro-gallery12 .pro-gallery-text {
  position: absolute;
  top: 70%;
  left: 10%;
}

#pro-gallery .pro-gallery-text h4 {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 25.302px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 1.265px;
  text-transform: uppercase;
  margin: 0;
}

#pro-gallery .pro-gallery-text p {
  color: var(--text-muted, rgba(255, 255, 255, 0.7));
  font-family: "Montserrat", sans-serif;
  font-size: 10.279px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 10.279px */
  letter-spacing: 1.028px;
  text-transform: uppercase;
}

/* CONTACT PAGE */
#form {
  padding: 100px 0;
}

#form .form-title h2 {
  color: var(--text-default, #fff);
  /* heading/large uppercase */
  font-family: "Montserrat", sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 140.8px */
  letter-spacing: 6.4px;
  text-transform: uppercase;
  padding: 60px 0;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  border: 1px solid rgba(156, 156, 156, 0.4);
  font-size: 13px;
  color: #fff;
  background: #000;
}

form label {
  color: var(--text-default, #fff);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

form ::placeholder {
  text-transform: uppercase;
  color: rgba(156, 156, 156, 0.76);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

form button {
  background: #f00;
  text-transform: uppercase;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 9.898px 13.197px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: 0.4s ease;
  border-radius: 3.299px;
  justify-content: center;
}

form button a {
  text-decoration: none;
  color: var(--text-default, #fff);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 13.616px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 13.616px */
  letter-spacing: 1.362px;
  text-transform: uppercase;
}

form button:hover {
  background-color: #fff;
}
form button:hover a {
  color: #000;
}

/* Add a background color and some padding around the form */
form {
  background-color: #000;
  padding: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 799px) {
  /* This is the media query for the "HomePage" */
  /* HOME-PAGE */

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    right: -300px;
    height: 53vh;
    width: 250px;
    background: #000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 25px 20px 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #navbar li a {
    font-size: 18px;
  }

  #navbar li {
    margin-bottom: 15px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #fff;
    font-size: 24px;
    padding-right: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 24px;
  }

  #navbar li i {
    display: none;
  }

  #hero {
    height: 80vh;
    padding: 0 80px;
    background-position: top 10% right 50%;
  }

  #hero img {
    margin-top: 17px;
  }

  #hero p {
    font-size: 6px;
  }

  #hero #column {
    display: none;
  }

  /* #hero .image1 {
    padding-top: 25px;
  }

  #hero .image1 h3 {
    color: var(--text-default, #fff);
    font-size: 22px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    width: 180px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
  }

  #hero .image2 {
    width: 70%;
    padding-top: 35px;
    margin-right: 0;
  }

  #hero .image2 p {
    color: var(--text-default, #fff);
    width: 120px;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }

  #hero .icons {
    width: 100%;
  }

  #hero .icons .image3 img {
    width: 70px;
    height: 61px;
  }

  #hero .icons .image4 img {
    width: 99px;
    height: 61px;
  }

  #hero .icons .image5 img {
    width: 70px;
    height: 61px;
  }

  #hero .icons .image6 img {
    width: 77px;
    height: 61px;
  }

  #hero .icons .image7 img {
    width: 50.492px;
    height: 60px;
  }

  #hero .icons .image8 img {
    width: 76px;
    height: 61px;
  }

  #hero .icons .image9 img {
    width: 43.103px;
    height: 50px;
  }

  #hero .icons .image10 img {
    width: 152.653px;
    height: 45px;
  } */

  /* intro section */
  #intro {
    padding: 180px 0;
  }

  #intro .intro-text h3 {
    font-size: 37px;
  }

  #intro .intro-text p {
    font-size: 19px;
  }

  #intro .intro-text p::after {
    width: 64%;
    left: 18%;
    height: 1.65px;
  }

  /* Home gallery */

  #Home-gallery .title h5 {
    font-size: 16px;
  }

  #Home-gallery .gallery .banner1 .banner-circle {
    width: 60px;
    height: 60px;
    top: 35%;
    right: 45%;
  }

  #Home-gallery .gallery .banner1 .banner-circle p {
    font-size: 9px;
  }

  #Home-gallery .gallery .banner1 .banner-text {
    position: absolute;
    top: 78%;
    right: 0;
    left: 3%;
  }

  #Home-gallery .gallery .banner1 .banner-text h4 {
    font-size: 20px;
  }

  #Home-gallery .gallery #banner1 {
    margin-top: -5px;
  }

  #Home-gallery .gallery .banner1 {
    width: 100%;
    height: 242.627px;
  }

  #Home-gallery .gallery .banner2 {
    width: 100%;
    height: 121.115px;
    background-position: top 20% right 60%;
  }

  #Home-gallery .gallery .banner3 {
    width: 100%;
    height: 121.115px;
    background-position: top 30% right 60%;
  }

  #Home-gallery .gallery .banner4 {
    width: 100%;
    height: 121.115px;
    background-position: top 30% right 60%;
  }

  #Home-gallery .gallery .banner5 {
    width: 100%;
    height: 121.115px;
    background-position: top 20% right 60%;
  }

  /* .cards-wrapper {
    display: flex;
  } */

  #Home-gallery .gallery .banner2-text,
  #Home-gallery .gallery .banner3-text,
  #Home-gallery .gallery .banner4-text,
  #Home-gallery .gallery .banner5-text {
    position: absolute;
    top: 60%;
    left: 5%;
  }

  #Home-gallery .gallery-link {
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #Home-gallery .gallery-link a {
    text-decoration: none;
  }

  #Home-gallery .gallery-link p {
    margin-top: -20px;
  }

  #Home-gallery .gallery-link p::after {
    content: "";
    width: 46%;
    height: 1.5px;
    top: 150%;
    left: 26.8%;
  }

  /* footer */
  footer #Ezic-logo {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 60px 0;
  }

  footer .footer-icons {
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  /* ABOUT PAGE */
  /* This is the media query for the "About Page" */

  #services .services-head {
    padding: 10px 0;
  }

  #services .services-head h4 {
    font-size: 24px;
  }

  #services .services-title h2 {
    font-size: 26px;
  }

  #services .services-title span {
    font-size: 26px;
  }

  #services .services-subtitle {
    padding-top: 20px;
  }
  #services .services-subtitle p {
    font-size: 14px;
  }

  #services .services-text h3 {
    font-size: 26px;
  }

  #services .services-text p {
    font-size: 14px;
    width: 100%;
  }

  #services .services-footer-text h4 {
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  #services .services-footer-text p {
    font-size: 8px;
    letter-spacing: 0.8px;
  }

  #heading .heading-text h2 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  #heading .heading-img1 {
    margin-top: -30px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
  }

  #heading .heading-img1 img {
    width: 50px;
    height: 50px;
  }

  #services .services-footer {
    background-position: top 30% left 40%;
    width: 100%;
  }

  /* PROJECT PAGE */
  /* This is the media query for the "Project Page" */

  .project .project-text h2 {
    font-size: 40px;
  }
}
